*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 20px;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Inconsolata', monospace;
}

.all-information{
    font-family: 'Space Mono', monospace;
}

.scarecrow-image{
    padding: 50px 20px 50px 140px;
}

img{
    width: 500px;
    height: 400px;
    float: left;
    margin: 0px 65px;
}

.information-container{
    margin-top: -51px;
}

/* I have bad news for you*/
h2{
    font-size: 65px;
    margin-right: 80px;
    padding-right: 80px;
    color: #333333;
}

/* Page may be removed */
p{
    font-size: 24px;
    padding-right: 280px;
    margin: 50px 60px 45px 0px;
    line-height: 35px;
    text-align: justify;
    color: #4F4F4F;
}

/*Back to Homepage*/
button{
    padding: 10px;
    width: 216px;
    height: 68px;
    background: #333333;
    color: #fff;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover{
    cursor: pointer;
    background: #706b6b;
    transition: 0.3s ease-in;
}




@media only screen and (max-width:620px){
    .all-information{
        all: initial;
        
    }

    img{
        all: initial;
        position: absolute;
        float: none;
        width: 90%;
        top: 0;
        bottom: 0;
        left: 40px;
        right: 10px;
        margin-top: 70px;                
        margin-bottom: 30px;
        padding-top: 50px;
    }

    .information-container{
        all: initial;
        position: absolute;
        float: top;
    }

    h2{
        font-size: 48px;
        padding-top: 400px;
        margin-right: 0px;
        padding-left: 50px;
        bottom: 100px;
        font-family: 'Space Mono', monospace;
        line-height: 71px;
    }

    p{
        /*position: absolute;*/
        text-align: unset;
        padding: 0px 0px 0px 50px;
        font-family: 'Space Mono', monospace;
    }

    button{
        margin-left: 50px;
    }

    footer{
        all: initial;
        position: absolute;
        height: 17px;
        left: 17%;
        top: 990px;
        padding-bottom: 30px;
    }
}

/*Change the position*/
footer{
    margin: 20px;
    padding-top: 90px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}