* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 20px;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Inconsolata', monospace;
}

.all-information {
    font-family: 'Space Mono', monospace;
}

.scarecrow-image {
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
}

img {
    width: 500px;
    height: 400px;
    float: left;
    margin: 0px 65px;
}


/* I have bad news for you*/

h2 {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 155px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}


/* Page may be removed */

p {
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 370px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}


/*Back to Homepage*/

button {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 530px;
    background: #333333;
}

button:hover {
    cursor: pointer;
    background: #706b6b;
    transition: 0.3s ease-in;
}

footer p {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 577px;
    top: 800px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    text-align: center;
    color: #BDBDBD;
}

@media only screen and (max-width: 620px) {
    .all-information {
        all: initial;
    }
    img {
        all: initial;
        position: absolute;
        float: none;
        width: 200%;
        top: -120px;
        left: 30px;
        right: 10px;
        margin-top: 70px;
        margin-bottom: 30px;
        padding-top: 50px;
    }
    .information-container {
        all: initial;
        position: absolute;
        float: top;
    }
    h2 {
        font-size: 48px;
        font-family: 'Space Mono';
        line-height: 71px;
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;
    }
    p {
        /*position: absolute;*/
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
        font-family: 'Space Mono', monospace;
    }
    button {
        width: 216px;
        height: 68px;
        left: 24px;
        top: 770px;
    }
    footer {
        all: initial;
        position: absolute;
        height: 17px;
        left: -530px;
        top: 350px;
        padding-bottom: 30px;
        white-space: nowrap;
    }
}
